// Font
$main-font:'Lato', sans-serif;

// Colors
$text-color: #777;
$head-color: #58e1c1; //border-left headline hover

//col colors
$col-12: #80e8d1;
$col-3: #deb2ee;
$col-4: #7ee6fd;
$col-5: #88d9a0;
$col-6: #4da2bb;
$col-7: #ec9fa3;
$col-8: #fd9f85;

//buttons colors
$default:#51ddfc;
$sucess: #63cc82;
$error: #e4757a;
$warning: #fd7856;
$info: #927bc1;

