/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include btn;
  }
  
  .default {
    background-color: $default;
  }
  
  .error {
    background-color:$error;
  }
  
  .info {
    background-color: $info;
  }
  
  .success {
    background-color: $sucess;
  }
  
  .warning {
    background-color: $warning;
  }
  
  
  