/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    @include display-col;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .theme.col-1 {
    background-color: $info;
  }
  
  .theme.col-2 {
    background-color: $warning;
  }
  
  .theme.col-3 {
    background-color: $col-3;
  }
  
  .theme.col-4 {
    background-color: $col-4;
  }
  
  .theme.col-5 {
    background-color: $col-5;
  }
  
  .theme.col-6 {
    background-color: $col-6;
  }
  
  .theme.col-7 {
    background-color: $col-7;
  }
  
  .theme.col-8 {
    background-color: $col-8;
  }
  
  .theme.col-9 {
    background-color: $error;
  }
  
  .theme.col-10 {
    background-color: $sucess;
  }
  
  .theme.col-11 {
    background-color: $default;
  }
  
  .theme.col-12 {
    background-color:$col-12;
  }
  
  .card {
    flex-basis: 100%;
  }
  
  